@model Models.DetailedForm

<section class="py-2">
    <h2 style="text-align: center">
        @Model.Name @Model.Surname (@Model.Age lat(a))
    </h2>
    <p style="text-align: center">Pesel: @Model.PESEL</p>
    <hr width="100%" />

    <div class="container">
        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy cierpi na któryś z poniższych problemów?")
                <ul type="circle" style="padding: 0 0 0 20px;">
                    @foreach (string disease in Models.Global.DiseaseList)
                    {
                        <li>
                            <div class="col-md-offset-1 col-md-12" style="padding: 0 0 0 20px;">
                                <div class="form-group form-inline">
                                    <div class="form-group col-md-2 my-0 pt-1">
                                        @disease
                                    </div>
                                    <div class="form-group col-md-3 my-0 pt-3" style="margin: 0 0 0 30px;">
                                        @if (disease.Contains("płuc"))
                                        {
                                            @Html.TextBoxFor(o => o.LungDisease, new { @class = "form-control", @disabled = "disabled" })
                                        }
                                        else if (disease.Contains("serca"))
                                        {
                                            @Html.TextBoxFor(o => o.HeartDisease, new { @class = "form-control", @disabled = "disabled" })
                                        }
                                        else if (disease.Contains("nerek"))
                                        {
                                            @Html.TextBoxFor(o => o.ChronicKidneyDisease, new { @class = "form-control", @disabled = "disabled" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.HaveAnyOfDiseases, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.HaveAnyOfDiseases, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.HaveAnyOfDiseases, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy przyjmuje leki immunosupresyjne?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.IfReceiveImmunosuppressiveMed, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.IfReceiveImmunosuppressiveMed, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.IfReceiveImmunosuppressiveMed, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-8 my-0 pt-5">
                @Html.Label("", "Czy ma gorączkę (temperaturę powyżej +37.3°C) lub czy jej doświadczył(a) w przeciągu ostatnich 14 dni?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.HighTemperature, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.HighTemperature, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.HighTemperature, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-8 my-0 pt-5">
                @Html.Label("", "Czy w przeciągu ostatnich 14 dni miał(a) kaszel lub objawy duszności?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.CoughNBreathProblems, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.CoughNBreathProblems, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.CoughNBreathProblems, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy doświadczył(a) któryś z wymienionych objawów w przeciągu ostatnich 14 dni?")
                <ul type="circle">
                    @foreach (string disease in Models.Global.SymptomsList)
                    {
                        <li> @disease </li>
                    }
                </ul>

            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.TextBoxFor(o => o.SymptomsWhichPersonExperienced, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy jest w ciąży?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.AreYouPregnant, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.AreYouPregnant, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.AreYouPregnant, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("Czy ostatnio podany był kuracji na jakikolwiek typ raka?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.CancerTreated, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.CancerTreated, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.CancerTreated, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy w ciągu ostatnich 14 dni podróżował(a) za granicę?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.IfPersonTravelled, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.IfPersonTravelled, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.IfPersonTravelled, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy w ciągu ostatnich 14 dni miał(a) kontakt z osobą, która przyjechała z zagranicy, bądź miała gorączkę lub objawy duszności?")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.ContactWithSuspect, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.ContactWithSuspect, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.ContactWithSuspect, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>

        <div class="full-form">
            <div class="form-group col-md-10 my-0 pt-5">
                @Html.Label("", "Czy przebywał(a) ostatnio w miejscach, w których miał(a) bliski kontakt z nieznanymi osobami")
            </div>
            <div class="form-group col-md-7 my-0 pt-1">
                @Html.ValidationMessageFor(o => o.ContactWithUnacquainted, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3 my-0 pt-3">
                @Html.RadioButtonFor(o => o.ContactWithUnacquainted, true, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Tak")
            </div>

            <div class="form-group col-md-3 my-0 pt-1">
                @Html.RadioButtonFor(o => o.ContactWithUnacquainted, false, new { @class = "radioButton", @disabled = "disabled" }) @Html.Label("Nie")
            </div>
        </div>
    </div>
</section>

<style>
    .radioButton {
        margin: 0 1em 1em 1em;
        transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
    }
</style>